{% extends "display_dept.html" %}
{% block title %}
<title>SELECT_RELATED</title>
{% endblock %}

{% block h1 %}
<h1>Dept and Emp table</h1>
{% endblock %}


{% block table_header %}
<tr>
    <th>Emp_no</th>
    <th>Emp_name</th>
    <th>Job</th>
    <th>Mgr</th>
    <th>Hire_date</th>
    <th>Salary</th>
    <th>Commission</th>
    <th>Dept_no</th>  
    <th>Dept_name</th>  
    <th>Loc</th>  
    <th>Dept_no</th>  
</tr>
{% for i in data1 %}
<tr>
    <td>{{ i.Emp_no }}</td>
    <td>{{ i.Emp_name }}</td>
    <td>{{ i.Job }}</td>
    <td>{{ i.Mgr }}</td>
    <td>{{ i.Hiredate }}</td>
    <td>{{ i.Salary }}</td>
    <td>{{ i.Commission }}</td>
    <td>{{ i.Dept_no }}</td>
    <td>{{ i.Dept_no.Dept_name }}</td>
    <td>{{ i.Dept_no.Loc }}</td>
    <td>{{ i.Dept_no.Dept_no }}</td>
</tr>
{% endfor %}
{% endblock %}